body {
    background: #3c1e5e;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    text-align: center;
}

.navbar {
    background: #6b2ca1;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar button {
    background: #a661d1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navbar button:hover {
    background: #c28aed;
}

.page {
    margin-top: 40px;
}

.text-box {
    background: #a661d1;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    font-size: 18px;
}

textarea {
    width: 70%;
    height: 200px;
    padding: 15px;
    border-radius: 15px;
    background: #a661d1;
    border: none;
    color: white;
    font-size: 18px;
}
